@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        var currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (!currentUrl.Equals("login", StringComparison.OrdinalIgnoreCase))
        {
            RedirectToLogin();
        }
    }

    private void RedirectToLogin()
    {
        var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        if (string.IsNullOrEmpty(returnUrl) || returnUrl.Equals("login", StringComparison.OrdinalIgnoreCase))
        {
            NavigationManager.NavigateTo("login", true);
        }
        else
        {
            NavigationManager.NavigateTo($"login?returnUrl={Uri.EscapeDataString(returnUrl)}", true);
        }
    }
}